.select-menu{
    width: 460px;
    /* margin:150px auto ;  */
    height: 22px;
    
 }
 .select-menu .select-btn{
     display: flex;
     height: 30px;
     padding:10px;
     font-size:18px;
     font-weight: 400;
     border-radius: 10px 10px 0 0;
     align-items: center;
     justify-content: space-between;
     cursor:pointer;
     /* box-shadow: 0 0 5px rgba(0,0,0,0.1); */
     border: 1px solid grey;
     border-bottom: none;
 }
 .select-btn i{
     font-size: 26px;
     transition: 0.3s;
 }
 .select-menu.active .select-btn i{
     transform: rotate(-180deg);
 }
 .select-menu .options{
     /* position:absolute; */
     /* padding: 20px; */
     margin-top: 10px;
     border-radius: 8px;
     /* box-shadow: 0 0 3px rgba(0,0,0,0.1); */
     box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
     display: none;
     /* border: 3px solid red; */
     margin-top:-240px;
     margin-left: 490px;
     width:300px ;
   
 }
 .select-menu.active .options{
     display: block;
 }
 .options .option{
     display: flex;
     height: 55px;
     cursor: pointer;
     align-items:center;
     margin-left: -40px;
     padding:0 16px;
     border-radius: 8px;
     background: #fff;
     /* border: 2px solid red; */
 
 }
 .options .option:hover{
     background: #F2F2F2;
 }
 .option i {
     font-size: 25px;
     margin-right: 12px;
 }
 .option .option-text{
     font-size: 18px;
     color:#333 ;
 }