.slider-wrap {
    position: relative;
    overflow: hidden;
    height: 230px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    width: 90%;
    padding: 10px 0px 0px 40px ;
    border-radius: 14px;
    margin: auto;
    margin-top: 30px;
    

}
.slider-wrap h3{
    padding: 4px 7px;
    
}

.slider-main {
    position: absolute;
    width: 256%;
}

.item {
    
    width: 330px;
    display: inline-block;
    /* background-color: red; */
    position: relative;
    height: 100px;
    margin: 4px;
    transition: 0.4s;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
    border-radius: 16px;
}

.text {
    position: absolute;
    width: 100%;
    height: 100%;
    font-size: 20px;
    font-weight: bolder;
    /* border: 1px solid blue; */
  
}

.text img{
    width: 100%;
    
}

.btn-area{
    position: absolute;
    top: 30px;
    left: 93%;
}

.slider-btn{
    background: none;
    border: none;
    outline: none;
    font-size: 24px;
    transition: 0.4s;
    color: grey;
    
   
}
.slider-btn:hover{
    
    color: black;
    border-radius: 30%;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}